@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:wght@400;700&display=swap');

html{
    font-family: 'Roboto', sans-serif;
}

/* styling our logo in the nav bar */
.rest-logo{
    width: 80px;
    height: auto;
}
/* styling the nav bar links */
:is(#nav-item1, #nav-item2, #nav-item3, #nav-item4, #nav-item5){
    color: #323f4b;
    font-family: 'Roboto', sans-serif;
}
/* styling the nav bar links when we hover over it */
:is(#nav-item1, #nav-item2, #nav-item3, #nav-item4, #nav-item5):hover{
    text-decoration: underline;
    text-shadow: 3px 3px 5px gray;
}
/* Align the nav links to the left hand side */
#navbar-nav{
    margin-left: auto;
}
/* styling menu card */
/* styling menu card container */
.menu-container{
    margin-top: 90px;
    background-color: #f9fbfe;
}
/* styling menu card heading */
.menu-heading{
    font-weight: 700;
    font-size: 1.75rem;
    color: #183b56;
    margin-bottom: 35px;
}
/* styling menu card Image */
.menu-card-image{
    border-radius: 16px;
    align-items: center;
}
/* styling the menu card title */
.menu-card-heading{
    color: #323f4b;
    font-weight: 500;
    font-size: 1.6rem;
    margin-top: 24px;
}
/* styling menu card price */
.menu-card-price{
    color: #323f4b;
    font-weight: 500;
    font-size: 1.2rem;
}
/* styling the menu card description */
.menu-card-description{
    font-size: 1rem;
    color: #7b8794;
}
/* styling the menu card */
.menu-card{
    border-radius: 16px;
    transition: transform 0.20s ease;
}
/* styling the menu card when we hover over it */
.menu-card:is(:hover, :focus){
    transform: scale(1.02);
}

/* Keep the every card height same for different size */
@media (min-width:520px){
    .menu-card{
        height: 800px;
    }
}
@media (min-width:1024px){
    .menu-card{
        height: 820px;
    }
}
@media (min-width:1220px){
    .menu-card{
        height: 720px;
    }
}
@media (min-width:1400px){
    .menu-card{
        height: 700px;
    }
}


/* Styling the footer section */
/* styling the footer section background */
.footer-section{
    background-color: #0a1822;
}
/* styling the footer section logo */
.footer-section-logo{
    width: 200px;
}
/* styling the footer section mail id */
.footer-section-mail-id{
    text-decoration: none;
    font-size: 1.1rem;
    color: #7b8794;
    transition: transform 0.20s ease;
}
/* styling the footer section mail id */
.footer-section-mail-id:is(:hover,:focus){
    color: whitesmoke;
}
/* stylint the footer section address */
.footer-section-address{
    font-size: 1.2rem;
    color: #7b8794;
}
.nowrap{
    white-space: nowrap;
}
